<div class="container">
    <h1 class="display-6"> <i class="fas fa-edit"></i> Edit Item</h1>

    <%= form_for @toy do |form| %>
    <div class="field form-group">
        <%= form.label :brand %>
        <%= form.text_field :brand, class:"form-control", placeholder:"Enter brand" %>
    </div>

    <div class="field form-group">
        <%= form.label :toy_name %>
        <%= form.text_field :toy_name, class:"form-control", placeholder:"Enter name" %>
    </div>

    <div class="field form-group">
        <%= form.label :price %>
        <%= form.text_field :price, class:"form-control", placeholder:"Enter price" %>
    </div>

    <div class="field form-group">
        <%= form.label :quantity %>
        <%= form.text_field :quantity, class:"form-control", placeholder:"Enter quantity" %>
    </div>

    <div class="field form-group">
        <%= form.label :image_url %>
        <%= form.text_field :image_url, class:"form-control", placeholder:"Enter image url" %>
    </div>

    <div class="field form-group">
        <%= form.label :description %>
        <%= form.text_area :description, class:"form-control", placeholder:"Enter Description" %>
    </div>

    <%= form.submit "Save", class:"btn btn-primary mt-3" %>
    <% end %>
</div>